/** ---------------- Body ------------- **/

body{
    background-color: #131B29;
    margin: 0px;
    padding: 0px;

    font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/**.playwrite-de-grund-<uniquifier> {
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
    
  .rubik-<uniquifier> {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
  **/
  


/** ----------------- Header --------------------- **/

header.nav{
    background-color: #1D3752;
    margin: 0; 
    background-size: cover; 
    position: relative;

}

img.nav{
    width: 90px;
    height: 70px;
    display:inline-block;
    vertical-align: middle;
    margin-left: 255px;
    margin-right: 20px;

}
p.nav{
    color: #fff;
    display:inline-block;
    vertical-align: middle;
    justify-content: space-between;

    padding:5px;

    margin-left: 7px;
    margin-right: 6px;

    border-radius: 6px;
}
p.first{
    margin-left: 20px;
}

p.nav:hover{
    color:black;
    background-color: #FFE420;
    border-radius: 6px;
    padding-bottom:8px;
    transition-duration: .4s;
    box-shadow: 0px 3px 0px 0px #FEBB39;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.skill {
  position: relative;
  display: inline-block;
}

.skill-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.skill:hover .skill-content {
  display: block;
}



.numbers {
  position: relative;
  display: inline-block;
}

.numbers-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.numbers:hover .numbers-content {
  display: block;
}



.logic {
  position: relative;
  display: inline-block;
}

.logic-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.logic:hover .logic-content {
  display: block;
}



.classic {
  position: relative;
  display: inline-block;
}

.classic-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.classic:hover .classic-content {
  display: block;
}



.trivia {
  position: relative;
  display: inline-block;
}

.trivia-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.trivia:hover .trivia-content {
  display: block;
}



.categories {
  position: relative;
  display: inline-block;
}

.categories-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.categories:hover .categories-content {
  display: block;
}
/** -------------------- Section New Games ------------- **/


section.newGames{
  margin-left:325px;
  margin-right:650px;
  margin-top: 20px;

  
}

section.newGames header{
  background-color: #1C527D;
  color: #fff;
  
  padding:0px;
  margin:0px 0px 0px 0px;

  border-radius: 9px;

  max-width: 1980px;
}

section.newGames header h3{
  display:inline-block;
  vertical-align: top;
  padding:5px 0px 5px 10px;
  margin:0px;
}
section.newGames header p{
  color: #88C4E6;
  display:inline-block;
  vertical-align: top;
  text-align: right;
  padding:0px 0px 0px 125px;
  margin:0px 0px 0px 20px;
  font-size: 12px;
}

/** ----------- New Games Articles ----------- **/

article{
  display: block;
  margin:10px 0px 30px 0px;
}

article img{
  border: 1px solid #29BFFD;
  border-radius: 4px;
  margin-right:15px;
  float:left;

}

article p{
  color:#fff;

  font-size:14px;

  margin-left: 15px;
  display: block;
  margin: 2px 0px 0px 14px;

  overflow:visible;
  max-width: 35ch;
  
}
article h4{
  color:#29BFFD;
  

  font-size:16px;

  margin-left: 100px;
  display: block;
  margin: 2px 130px 5px 14px;

}

article h4:hover{
  color:#29BFFD;

  font-size:16px;

  margin-left: 100px;
  display: block;
  margin: 2px 0px 5px 14px;

  text-decoration: underline;
}

article img:hover{
  border: 2px solid #29BFFD;
  border-radius: 4px;
  margin-right:12px;
  float:left;

  width: 86px;
  height: 46px;
}



